window {
    font-family: "Iosevka";
    font-size: 18px;
    margin: 0px;
    border: 0px solid;
    border-radius: 0px;
    background-color: #141b1e;
    color: #dadada;
}

#input {
    margin: 0px;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
    border-color: #8ccf7e;
    background-color: #232a2d;
    color: #dadada;
    padding: 0.5em;
}

#entry {
    padding: 0.5em;
}

#entry:selected {
    background-color: #6cbfbf;
    background: linear-gradient(90deg, #6cbfbf, #c47fd5);
}

#text:selected {
    color: #141b1e;
}

image {
    margin-left: 0.2em;
    margin-right: 0.5em;
}