* {
    font-size: 16px;
    font-family: "Iosevka Nerd Font";
    color: #dadada;
}

#waybar {
    background: transparent;
    border-radius: 3px;
}

#workspaces {
    border-radius: 3px;
    box-shadow: 0px 0px black;
}

#workspaces,
#network,
#backlight,
#wireplumber,
#clock,
#bluetooth,
#custom-power,
#custom-notification {
    margin-left: 5px;
    margin-right: 5px;
    background: #141b1e;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#network,
#wireplumber,
#bluetooth {
    margin: 0px;
}

#idle_inhibitor.activated {
    color: #e57474;
}

#custom-power {
    color: #c47fd5;
    margin-right: 10px;
    padding-right: 14px;
}